/* src/styles/BarraDePesquisa.css */

.barra-de-pesquisa {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin: 0.5rem 0;
}

.campo-pesquisa {
  padding: 0.5rem;
  flex: 1;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.botao-pesquisa {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1.2rem;
}
